<?xml version='1.0'?>
<launch>

    <node pkg="roomba_500driver_meiji" name="roomba_test" type="main500">
        <param name="serial_port" value="/dev/ttyUSB0"/>
        <param name="publish_intensity" value="true"/>
        <param name="publish_multiecho" value="false"/>
    </node>

    <node pkg="urg_node" name="urg_node" type="urg_node">
	    <param name="serial_port" value="/dev/ttyACM0"/>
	    <param name="frame_id" value="laser"/>
	    <param name="publish_intensity" value="true"/>
        <param name="publish_multiecho" value="faulse"/>
    </node>


    <node pkg="chibi20_2" name="chibi20_2" type="roomba_controller" output="screen">
    	<param name="hz" value="50.0" type="double"/>
    	<param name="sleeping_length" value="3.0" type="double"/>
    	<param name="phase" value="0" type="int"/>
    	<param name="theta" value="0.0" type="double"/>
        <param name="init_theta" value="0.0" type="double"/>
        <param name="turn_phase" value="0" type="int"/>
        <param name="run_length" value="0.5" type="double"/>
        <param name="average_length" value="0.0" type="double" />
        <param name="center_number" value="540" type="int"/>
        <param name="alpha" value="5" type="int" />
    </node>

</launch>
